<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="测试用例.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <测试用例.Properties.Settings>
            <setting name="测试用例_reftUserInfo_tUserInfo" serializeAs="String">
                <value>http://127.0.0.1/SFIS_WEBSER/tUserInfo.asmx</value>
            </setting>
            <setting name="测试用例_TestAte_tCheckDataTestAte" serializeAs="String">
                <value>http://172.16.173.76/SFIS_TEST/tCheckDataTestAte.asmx</value>
            </setting>
            <setting name="测试用例_twipdata_tWipTracking" serializeAs="String">
                <value>http://172.16.174.177/sfis_webser/twiptracking.asmx</value>
            </setting>
        </测试用例.Properties.Settings>
    </applicationSettings>
</configuration>